<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <!-- Load required Bootstrap and BootstrapVue CSS -->
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />

    <!-- Load polyfills to support older browsers -->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver" crossorigin="anonymous"></script>

</head>

<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.21/lodash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>

    <!-- Load the following for BootstrapVueIcons support -->
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.js"></script>

    <div id="app">
        <div class="container">
            <div class="text-end mt-3">
                <button @click="modal.open = true" class="btn btn-primary">Update</button>
            </div>
            <b-modal v-model="modal.open">
                <div class="form-group">
                    <textarea v-model="modal.text" rows="20" class="form-control" style="margin-bottom: 15px"></textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-success float-end" @click="parseText">Parse</button>
                </div>
                
            </b-modal>
            <table class="table" v-if="ready" >
                <thead>
                    <tr>
                        <th>Player</th>
                        <th>Level</th>
                        <th>Power</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="player in results">
                        <td>{{ player.name }}</td>
                        <td>{{ player.level }}</td>
                        <td>{{ player.power }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <script>
        const app = new Vue({
            el: "#app",
            data() {
                return {
                    modal: {
                        open: false,
                        text: ''
                    },
                    urlSearch: 'https://forum.netmarble.com/api/game/enngb/official/forum/enngb_en/member/list?keyword=',
                    urlInfo: 'https://forum.netmarble.com/api/game/enngb/official/forum/enngb_en/member/',
                    players: [
                        'Groomng',
                        'Gromong',
                        'AleMartinez',
                        'Kdlaum',
                        'Thatwolf',
                        'Draw0',
                        'MacCrazy',
                        'Ausir',
                        'darksaraiva',
                        'Odeio',
                        'iSamuk',
                        '17naurna',
                        'CHICOAK',
                        'Halync',
                        'Jessyy',
                        'Aoshisaki',
                        'Bori',
                        'Steamer',
                        'd3vgod',
                        'roicim',
                        'Socialista',
                        'cryMarcia',
                        'Skaham',
                        'Salsichinha',
                        'D3xTeR',
                        'Kaulyna',
                        'Hayliel',
                        'LyonHeart',
                        'Kiier',
                        'FuryLuxury',
                        'WillHirinho',
                        'Cisaofofinho',
                        'Kurotsuch',
                        'MiBRvip',
                        'Silveiru',
                        'iLovyouso',
                        'Talavalkov',
                    ],
                    results: [],
                    ready: false,
                }
            },
            created() {
                const app = this;
                _.each(this.players, (pl, index) => {
                    axios.get(this.urlSearch + pl).then(({ data }) => {
                        if (data.memberList.length > 0) {
                            axios.get(this.urlInfo + data.memberList[0].memberSeq).then(({ data }) => {

                                this.results.push({
                                    memberSeq: data.member.memberSeq,
                                    name: data.member.character.charName,
                                    level: data.member.character.level,
                                    class: data.member.character.charInfo[2].value,
                                    power: 0,
                                });
                            })
                        } else {
                            this.results.push({
                                memberSeq: 0,
                                name: pl,
                                level: 0,
                                class: 0,
                                power: 0
                            })
                        }
                    });
                });

                setTimeout(() => {
                    console.log(this.results)
                    app.ready = true
                }, 3000)

            },
            methods: {
                async parseText() {
                    text = this.modal.text
                    lines = text.split("\n")

                    let str = ''

                    await _.each(lines, async (line, index) => {
                        if ((index + 1) % 3 != 0) {
                            str += line + '\n'
                        }
                    })
                    
                    lines = str.split('\n');

                    await _.each(lines, async (line, index) => {
                        if ((index + 1) % 2 == 0){
                            power = (parseInt(line.replace('.', '').replace('.', ''))/1000000).toFixed(2)
                            name = lines[index-1]
                            
                            res = _.findIndex(this.results, (item) => {
                                return item.name.toLowerCase().replace('0','o') == name.toLowerCase().replace('0','o')
                            })

                            if (res >= 0){
                                this.results[res].power = power
                            }
                        }
                    })
                }
            }
        });
    </script>
</body>

</html>